@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: contain;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 100%; /* Ajusta la tarjeta al 100% del contenedor padre */
  max-width: 380px; /* Para asegurarte que no sea demasiado grande */
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image1 {
  width: 380px;
  height: 220px;
  background-image: url('../images/illustration-hero.svg');
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 900;
}

.description {
  font-size: 16px;
  width: 240px;
  margin: 20px auto;
}

.container2 {
  display: flex;
  background-color: #f7f9ff;
  align-items: center;
  border-radius: 11px;
  line-height: 0.5;
  justify-content: space-around;
  margin: 0 auto;
  width: 290px;
  height: 70px;
}

.annualprice {
  font-weight: bold;
  margin-bottom: 19px;
}

.price {
  color: #717fa6;
  font-weight: 600;
}

.change {
  color: hsla(242, 76%, 68%);
  cursor: pointer;
  font-weight: 900;
}

.button {
  width: 290px;
  height: 50px;
  margin: 10px 0 25px 0;
  border-radius: 11px;
  border: none;
  background: hsl(245, 75%, 52%);
  color: white;
  font-weight: 600;
  box-shadow: 0 15px 20px hsla(242, 76%, 68%, 0.5);
}

.cancelOrder {
  display: block;

  margin-bottom: 30px;
  text-decoration: none;
  color: #717fa6;
  font-weight: 900;
}

.cancelOrder:hover {
  color: black;
}

.button:hover {
  cursor: pointer;
  background: #766cf1;
}

.change:hover {
  color: #766cf1;
}

@media (max-width: 375px) {
  .card {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 340px;
    height: 600px;
  }

  .image1 {
    width: 340px;
  }
}
